@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#tiltText {
  width: fit-content;
}
#pageInner {
  perspective: 1000px;
}
#menu {
  transition: 0.7s;
}
#menu:hover {
  rotate: -90deg;
}
#part2 {
  perspective: 3000px;
}
.animateText {
  transform-origin: 100% 70%;
}
#page5 {
  perspective: 3000px;
}
#image {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
@font-face {
  font-family: anzo1;
  src: url(/Anzo-studio-clone/fonts/file.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(/Anzo-studio-clone/fonts/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(/Anzo-studio-clone/fonts/file3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(/Anzo-studio-clone/fonts/file4.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(/Anzo-studio-clone/fonts/file5.woff2);
}
@font-face {
  font-family: alag anzo;
  src: url(/Anzo-studio-clone/fonts/madefor-text.var.original.woff2);
}
